.form-title{
    margin-top: 50px;
}
form{
    margin-top: 50px;
    line-height: 50px;
    position: relative;
}
form>table{
    position: relative;
    left: 5%;
}
span{
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-right: 50px;
}
.category-root>th>select, .category-name>th>input{
    width: 500px;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}
.submit-btn{
    margin-top: 20px;
    position: absolute;
    left: 30%;
}
.submit-btn>input{
    width: 200px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.submit-btn>input:hover{
    background-color: #f33a3a;
}
section{
    margin-top: 100px;
    position: relative;
    left: -5%;
}