*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    color:black;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.header{
    background-color: black;
    padding-top: 30px;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.navigation>div>h4>a{
    color: white;
}
.navigation>div>a{
    color: white;
}
.homebtn{
    text-align: center;
}
.thumbnail{  
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
img{
    height: 60%;
    width: 80%;
    margin-top: 10%;
}
.content{
    margin: 20%;
    color: white;
    text-align: center;
    align-items: center;
}
.content>h1{
    letter-spacing: 2px;
}
.content>p{
    line-height: 30px;
    margin-bottom: 30px;
}
.content>a{
    padding: 8px;
    background: rgb(140, 230, 255) ;
    color: black;
    border-radius: 5px;
}
.nav-container{
    grid-column-start: 2;
    grid-column-end: span 3;
    text-align: center;
    font-size: 15px;
}
.nav-container>a{
    padding: 5px;
}





