*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #302929;
}
a{
    text-decoration: none;
    color: black;
}
#header{
    background-color: #f7efed;
    background-size: cover;
    height: 90px;
    padding: 0px 0px;
}

.homebtn{
    text-align: left;
}
#navigator{
    display: block;
    text-align: right;
    padding: 33px 0px

}
#navigator>a{
    text-decoration: none;
    color: #302929;
    padding: 20px 15px

}






