.form-group{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-gap: 5px;
    width: 200px;
    margin: 50px 15px  100px 50px;
}
.form-group>select{
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}