/* product-menu */
.product{
    box-sizing: border-box;
    width: 90%;
    padding: auto;
    background: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}

.product-menu-container{
    width: 20%;
    height: 100%;
    background: rgb(88, 88, 88);
    float: left;
    padding-top: 3%;
}

.product-menu-container span{
    font-size: 18px;
    line-height: 50px;
    margin-left: 6px;
    color: white;
}

.product-menu-container>ul{
    padding-left: 30px;
}

.product-menu-container>ul>li{
    list-style: none;
    font-weight: bold;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    max-height: 50px;
    line-height: 30px;
    transition: 1s;
    text-transform: capitalize;
}

.product-menu-container>ul>li>ul>li>a{
    text-decoration: none;
    color: white;
    padding-top: -10px;
}

.product-menu-container>ul{
    max-height: 1500px;
}

.product-menu-container ul>li:hover{
    background: rgba(0,0,0,0.25);
}

.product-menu-container>ul>li>ul>li:hover{
    background: none;
}

.product-menu-container>ul>li>a{
    text-decoration: none;
    color: whitesmoke;
}

.product-menu-container>ul>li>a>i.fa-angle-right{
    position: absolute;
    right: 15px;
    top: 18px;
    transition: 0.5s;
}

.product-menu-container>ul>li>ul{
    padding: 1px;
    margin: 0;
}

.product-menu-container ul>li>ul>li{
    align-content: center;
    list-style: none;
    height: 18px;
    line-height: 30px;
    font-size: 15px;
    padding: 1px 1px 1px 20px;
    font-weight: normal;
    border-left: 1px solid;
    margin: 5px;
    color:white;
    cursor: pointer;
}
.product-menu-container ul>li>ul>li>a, .menu-container>ul>li:target>ul>li>a{
    background: transparent;
}
.product-menu-container ul>li:target{
    max-height: 300px;
    border-radius: 5px 0px 0px 5px;
}
.product-menu-container ul>li:target>a{
    color: white;
    display: inherit;
    background: black;
}
.product-menu-container ul>li:target>a>i.fa-angel-right{
    transform: rotate(90deg);
    top: 10px;
}
.product-menu-container ul>li:target:hover{
    background: initial;
}